@import url("https://fonts.googleapis.com/css?family=Stylish&display=swap");

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: #735439;
}

body {
    padding-top: 190px;
    font-family: "Stylish", sans-serif;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
    text-align: left;
    padding: 20px 0px;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

#nav-container {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-img {
    height: 150px;
}

nav {
    font-size: 2em;
}

.nav-link {
    text-decoration: none;
    padding-left: 10px;
}

.nav-target:after {
    display: block;
    content: "";
    height: 190px;
    margin-top: -190px;
}

main {
    text-align: center;
}

#main-img {
    border-radius: 10px;
    margin-top: 15px;
    width: 80%;
}

#brand-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.brandlogo {
    width: 100px;
    padding: 5px;
}

#video {
    padding-bottom: 20px;
    border: 0px;
}

#form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#submit {
    grid-column-start: 1;
    grid-column-end: 3;
}

label {
    font-size: 1.5em;
    justify-self: end;
}

input,
textarea {
    border: 2px solid #735439;
    border-radius: 5px;
    width: 300px;
}

#submit {
    width: 200px;
    height: 50px;
    justify-self: center;
    font-size: 1.5em;
    font-family: "Stylish", sans-serif;
    background: #735439;
    color: white;
}

footer {
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Media rules for responsive behaviour */
@media (max-width: 1050px) {
    body {
        padding-top: 160px;
    }

    .container {
        width: 768px;
    }

    #nav-container {
        font-size: 80%;
    }

    #header-img {
        height: 120px;
    }

    /* Ensure navbar is taken into account when jumping to point on page */
    .nav-target:after {
        height: 160px;
        margin-top: -160px;
    }

    h2 {
        font-size: 2.4em;
    }

    p,
    label,
    #submit {
        font-size: 1.2em;
    }

    input,
    textarea {
        width: 200px;
    }
}

@media (max-width: 860px) {
    body {
        padding-top: 115px;
    }

    .container {
        width: 550px;
    }

    #nav-container {
        font-size: 50%;
    }

    #header-img {
        height: 75px;
    }

    /* Ensure navbar is taken into account when jumping to point on page */
    .nav-target:after {
        height: 115px;
        margin-top: -115px;
    }

    h2 {
        font-size: 2em;
    }

    p,
    label,
    #submit {
        font-size: 1em;
    }

    input,
    textarea {
        width: 150px;
    }

    textarea {
        height: 60px;
    }
}

@media (max-width: 580px) {
    .container {
        width: 100%;
        padding: 0px 15px;
    }

    #video {
        width: 90%;
    }

    #nav-container {
        padding: 20px 15px;
    }
}

@media (max-width: 480px) {
    #nav-container {
        padding: 20px 20px;
        display: grid;
        grid-template-columns: 1fr 3fr; /* Collapse navbar on narrower screens */
        grid-template-areas:
            "logo name"
            "logo nav";
    }

    #header-img {
        grid-area: logo;
    }


}